/* Import fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
/* end */

*{
    box-sizing: border-box !important;
}
a{
    text-decoration: none !important;
    color: #ffffff;
}
html,body{
    width: 100%;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
}
header {
    height: 100vh;
    width: 100%;
    background: url('/assets/img/Rectangle.jpg') center center no-repeat;
    background-attachment: fixed;
    color: #ffffff !important;
    background-size: cover;
    overflow: hidden;
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    padding: 0 2% !important;
}
.wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 0 !important;
    font-family: 'Open Sans', sans-serif;
    z-index: 1;
}
header nav .brand{
    font-size: 30px;
    font-weight: bold;
}
header nav ul {
    display: flex;
    align-items: center;
}
header nav ul li{
    padding-right: 10px !important;
    transition: .4s all ease-in-out;
    cursor: pointer;
}
header nav ul li:hover{
    letter-spacing: 5px;
}
header nav ul li:last-child{
    padding-right: 0 !important;
}
ul li{
    list-style: none;
} 
ul{
    margin: 0 !important;
    padding: 0 !important;
}
header .burgBtn{
    display: none;
    font-size: 40px;
    z-index: 200;
}
.menuActive{
    width: 100%;
    height: 100vh;
    display: flex !important;
    flex-direction: column;
    justify-content: center !important;
    align-items: center;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    margin: 0 !important;
    font-size: 2em;
    padding: 0 !important;
    overflow-y: scroll
}
.menuActive li{
    padding: 2% 0!important;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #fff;
}
.menuActive li:last-child{
    padding-bottom: 0 !important;
}
header .information{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
header .information .title h1{
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 3em;
}
header .information .description  p{
    font-size: 1.3em;
}
header .btn{
    font-size: 1.2em;
    border: 2px solid #fff;
    border-radius: 7px;
    padding: 5px 10px;
    transition: .5s all ease-in-out;
    cursor: pointer;
}
header .btn:hover{
    background-color: #fff;
    color: #000;
}
section{
    padding: 5% 0;
    color: #555555;
}
section .sectionTitle{
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}
section .description{
    font-size: 1.3em;
    text-align: center;
    font-weight: bold;
}
section .sectionTitle h2{
    font-weight: normal !important;
    font-size: 30px !important;
    margin:  10px 0 ;
    text-align: center;
}
section .sectionTitle::after{
    content: '';
    display: block;
    width: 4%;
    height: 3px;
    background-color: #555555;
    margin: 0 auto;
}
.Services{
    text-align: center;
}
.Services .services .service{
    width: 30%;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2% !important;
}
.services .service .img{
    display: flex;
    justify-content: center;
}
.services .service .img .shape{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: #e41212;
}
.services .title h3{
    font-size: 1.3em;
}
.noBold{
    font-weight: normal !important;
}
.services .service .img .another{
    background-color: #e41212;
    color: #fff !important;
}

.Services .services .service .description{
    font-size: 1.2em;
}
.Services .services{
    display: flex;
    width: 100%;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
    margin-top: 4% !important;
} 
.services .service .title{
    text-transform: uppercase;
}
.about{
    background-color: #f8f8f8;
}
.about .aboutTeam{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.about .aboutTeam .col1, .about .aboutTeam .col2{
    width: 45%;
}
.about .aboutTeam .col1 p, .about .aboutTeam .col2 p{
    margin: 0 !important;
}
.about .slider{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3%;
    position: relative;
}
.about .slider .slide{
    min-width: 150px;
    margin-right: 2% !important;
}
.about .slider .slide img{
    width: 100%;
    height: 100%;
    object-fit: cover !important;
    object-position: top;
    cursor: pointer;
}
.about .slider .slide img:hover ~ .cover1{
    opacity: 1;
}
.about .slider .slide .group{
    width: 100%;
    height: 250px;
    position: relative;
}
.about .slider .slide .group .cover1{
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    background-color: rgba(0,0,0,.6);
    transition: .4s all ease-in;
    display: flex;
    align-items: flex-end;
    padding: 20px 0;
    justify-content: center;

}

.about .slider .slide figure{
    width: 100%;
    height: 100%;
    margin: 0 !important;
    text-align: center;
}
.about .slider .slide .positionInCompany{
    font-weight: bold !important;
    margin-top: 21px !important;
    text-transform: none;
    font-family: serif !important;
}
.about .slider .slide figcaption{
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Open sans', sans-serif;
    margin-top: 4% !important;
    display: flex;
    flex-direction: column;
} 
.about .slider .left, .about .slider .right{
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #8f8f8f;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    top: 50%;
    transform: translate(0, -50%);
    transition: .3s all ease-in-out;
    cursor: pointer;
}
.about .slider .right:hover{
    background-color: #c0301c;
}.about .slider .left:hover{
    background-color: #c0301c;
}
.about .slider .left{
    left: 2px;
}
.about .slider .right{
   right: 2.2%;
}
.about .slider i{
    margin: 0 !important;
}
.about  .social-networks{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.letestWorks .filtration{
    display: flex;
    justify-content: center;
    margin-top: 2% !important;
    flex-wrap: wrap;
    font-weight: 500 !important;
}
.letestWorks .filtration li{
    margin-left: 2% !important;
    cursor: pointer;
}
.letestWorks .filtration li:hover{
    color: #c0301c;
}
.letestWorks .filtration li:first-child{
    margin-left: 0 !important;
}
.letestWorks .filtration{
    font-size: 18px;
}
.letestWorks .worksWrap{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3%;
}
.letestWorks .wrapper{
    height: 100%;
}
.letestWorks .worksWrap .workExample{
    width: 22%;
    height: 180px;
    min-height: 80px;
    min-width: 240px;
    margin-bottom: 1% !important;
    margin-left: 1%;
    display: none;
}
.letestWorks .workExample .filter{
    z-index: 2323;
}
.letestWorks .workExample img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
.letestWorks .workExample img:hover ~ .cover{
    opacity: 1;
}

.letestWorks .hide{
    display: none !important;
}
.show{
    display: flex !important;
    position: relative;
    cursor: pointer;
}
.activeFilter{
    color: #c0301c !important;
}
.letestWorks .cover{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(192, 48, 28, .7);
    color: #ffffff;
    display: flex;
    pointer-events: none;
    opacity: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: .4s all ease-out;
}
.letestWorks .cover h4{
    z-index: 200;
    margin-bottom: 3%;
}
.addYourWork .description h6{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5em !important;
    font-size: 1em;
}
.addYourWork{
    background: url('/assets/img/addWorkBg.jpg') center center no-repeat;
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
    overflow: hidden;
}
.addYourWork .btnGetInTouch{
    padding: 10px;
    border: 1px solid #fff;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    margin-top: 1%;
    transition: .5s all ease-in-out;
    cursor: pointer;
}
.addYourWork .btnGetInTouch:hover{
    background-color: #fff;
    color: #000;
}
.postWrap{
    margin-top: 3%;
}
.postWrap .post{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #ddd;
    padding-bottom: 3%;
    margin-top: 2%;
}
.postWrap .post:last-child{
    border: none;
}
.post .photo{
    width: 30%;
    background-color: #000;
}
.post .informBlock{
    width: 65%;
    display: flex;
    flex-direction: column;
}
.post .informBlock .dateAndtitle{
    display: flex;
}
.post .informBlock .dateAndtitle .date{
   padding: 10px 20px;
   border: 2px solid #000;
   margin: 0 4% 1% 0 !important;
}
.post .informBlock .dateAndtitle h4{
    margin: 0 0 2% 0 !important;
    font-size: 1.3em;
    font-family: 'Open Sans', sans-serif;
    color: #c0301c;    
    text-transform: uppercase;
}
.post .informBlock .dateAndtitle .whoCreate em{
    color: #c0301c;
}

.post .informBlock .readMoreBtn{
   text-transform: uppercase;
   margin-top: 2%;
   font-weight: bold;
   font-family: 'Open Sans', sans-serif;
   cursor: pointer;
}
.post .readMoreBtn:hover{
    color: #c0301c;
}
.ourPartners{
    background-color: #f8f8f8;
    color: #555;
}
.ourPartners .desc{
    margin-bottom: 4%;
}
.ourPartners .desc h6{
    font-size: 1.2em;
    margin: 0 !important;
    font-weight: normal;
}
.ourPartners .slider{
    width: 100%;
    position: relative;
}
.ourPartners .slider .slide2{
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.ourPartners .slider .slide2 .listOfCompanys{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.ourPartners .slider .dots{
    display: flex;
    position: absolute;
    bottom: -3%;
    width: 100%;
    justify-content: center;
}
.ourPartners .slider .dots .dot{
    background-color: #ddd;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: .5% !important;
    cursor: pointer;
}
.ourPartners .slider .dots .dot:first-child{
    margin-left: 0 !important;
}
.ourPartners .company{
    width: 20%;
    min-width: 150px;
}
.ourPartners .show{
    animation: Fade .5s ease-in;
    display: flex !important;
}
.ourPartners .hide{
    display: none !important;
}
.ourPartners .dotActive{
    background: red !important; 
}
.contact address{
   width: 35%;
}
.contact .wrapp{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact address .block{
    margin-top: 20px;
}
.contact address .titleOf{
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
.contact address .mainInfo{
    margin-top: 7px;
}
.contact address .mainInfo a {
    color: #000000;
}
.contact form fieldset{
    margin: 1% 0 !important;
    padding: 0 !important;
    border: none !important;
}
.contact form  input{
    width: 49%;
    height: 40px;
    padding-left: 1%;
    cursor: pointer;
    border: 1px solid #555 ;
}
.contact form fieldset input::placeholder, .contact form fieldset textarea::placeholder{
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: .9em;
}
.contact form fieldset input:focus, .contact form fieldset textarea:focus{
    border : 1px solid #c0301c;
    outline: none;
}
.contact form fieldset textarea{
    width: 100%;
    resize: none;
    height: 100px;
    cursor: pointer;
    padding: 1% 0 0 1%;
    border: 1px solid #555;
}

.mr{
    margin-right: 1.2%;
}
.contact form{
    width: 70%;
    margin: 0 !important;
    padding: 0 !important;
}
.contact form input[type="submit"]{
    background: transparent !important;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: .9em;
    transition: .3s all ease-in-out;
}
.contact form input[type="submit"]:hover{
    background: #000 !important;
    color: #fff;
}

footer ul{
    display: flex;
    justify-content: center;
    padding: 2% 0 !important;
    color: #ffffff;
}
footer ul li{
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 50%;
    cursor: pointer;
}
footer ul li:first-child{
    margin: 0;
}
footer{
    padding: 2% 0;
    background: #c0301c;
}


@keyframes Fade {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@media screen and (max-width: 900px){
    .wrapp{
        flex-direction: column !important;
    }
    address{
        text-align: center;
    }
    form input{
        width: 100% !important;
        margin: 1% 0 !important;
    }
    form{
        width: 100% !important;
    }
    form textarea{
        width: 100% !important;
    }
}
@media screen and (max-width: 800px){
    .post .informBlock .dateAndtitle h4{
        font-size: 1em;
    }
}
@media screen and (max-width: 750px){
    .desktop{
        display: none;
    }
    section .sectionTitle::after{
        width: 7%;
    }
    .burgBtn{
        display: block !important;
    }
    .slW750px{
        display: none !important;
    }
}
@media screen and (max-width: 520px){
    header .information .title{
        font-size: .7em;
    }
    address{
        width: 100% !important;
    }
    .slW520px{
        display: none;
    }
}
@media screen and (max-width: 600px){
    .about .aboutTeam{
        flex-direction: column !important;
        justify-content: center !important;
    }
    .postWrap .post{
        flex-direction: column;
        justify-content: unset;
    }
    .postWrap .post .photo{
        width: 100%;
        height: 150px;
        margin-bottom: 3%;
    }
    .postWrap .post .informBlock{
        width: 100%;
    }
    .about .aboutTeam .col1{
        margin-bottom: 3% !important;
    }
    .about .aboutTeam .col1, .about .aboutTeam .col2{
        width: 100%;
        font-size: 1.5em !important;
    }
    .about .description{
        font-size: 1.5em !important;
    }
    
}
@media screen and (max-width: 418px){
    .services .service{
        width: 100% !important;
    }
    .slW418px{
        display: none;
    }
}

@media screen and (max-width: 374px){
    header .information .title h1{
        font-size: 2.5em;
    }
    header .information .description  p{
        font-size: 1em;
    }
    header .btn{
        font-size: 1em;
    }
    
}